BookWeb/Connected Services/BookService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59697/BookService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59697/BookService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59697/BookService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BookService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBookService_GetAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetBookByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByCategory" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetBookByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetBookByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByID" />
  </wsdl:message>
  <wsdl:message name="IBookService_GetBookByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBookByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_EditBook_InputMessage">
    <wsdl:part name="parameters" element="tns:EditBook" />
  </wsdl:message>
  <wsdl:message name="IBookService_EditBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_NewBook_InputMessage">
    <wsdl:part name="parameters" element="tns:NewBook" />
  </wsdl:message>
  <wsdl:message name="IBookService_NewBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:NewBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_DeleteBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="IBookService_DeleteBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:message name="IBookService_Pagination_InputMessage">
    <wsdl:part name="parameters" element="tns:Pagination" />
  </wsdl:message>
  <wsdl:message name="IBookService_Pagination_OutputMessage">
    <wsdl:part name="parameters" element="tns:PaginationResponse" />
  </wsdl:message>
  <wsdl:portType name="IBookService">
    <wsdl:operation name="GetAllBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetAllBooks" message="tns:IBookService_GetAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetAllBooksResponse" message="tns:IBookService_GetAllBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetBookByCategory" message="tns:IBookService_GetBookByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetBookByCategoryResponse" message="tns:IBookService_GetBookByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBookByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/GetBookByID" message="tns:IBookService_GetBookByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/GetBookByIDResponse" message="tns:IBookService_GetBookByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/EditBook" message="tns:IBookService_EditBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/EditBookResponse" message="tns:IBookService_EditBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NewBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/NewBook" message="tns:IBookService_NewBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/NewBookResponse" message="tns:IBookService_NewBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/DeleteBook" message="tns:IBookService_DeleteBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/DeleteBookResponse" message="tns:IBookService_DeleteBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pagination">
      <wsdl:input wsaw:Action="http://tempuri.org/IBookService/Pagination" message="tns:IBookService_Pagination_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBookService/PaginationResponse" message="tns:IBookService_Pagination_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBookService" type="tns:IBookService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllBooks">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetAllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookByCategory">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetBookByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookByID">
      <soap:operation soapAction="http://tempuri.org/IBookService/GetBookByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditBook">
      <soap:operation soapAction="http://tempuri.org/IBookService/EditBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NewBook">
      <soap:operation soapAction="http://tempuri.org/IBookService/NewBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap:operation soapAction="http://tempuri.org/IBookService/DeleteBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pagination">
      <soap:operation soapAction="http://tempuri.org/IBookService/Pagination" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IBookService" binding="tns:BasicHttpBinding_IBookService">
      <soap:address location="http://localhost:59697/BookService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>